<% provide(:title, "Management") %>
<div class="center jumbotron">
		<h1>SERV Management</h1>
</div>
<div class="container">
	<nav>
		<ul class="nav navbar-nav  navbar-right">
			<li><%= link_to "Service Partner", s_list_path %></li>
			<li><%= link_to "Access Level Setting", users_path %></li>
		</ul>
	</nav>
</div>
<div class="col-md-8">
	<h2>Management Dashboard</h2>
</div>
 