<% provide(:title, "Login Selection") %>
<div class="center jumbotron">
	<h1>Please select login category</h1>
	<h2><%= link_to 'As admin', mngl_path, class: "btn btn-primary" %></h2>
	<h2><%= link_to 'As customer', cusl_path, class: "btn btn-primary" %></h2>
	<h2><%= link_to 'As service partner', srvl_path, class: "btn btn-primary" %></h2>
</div>
