<% provide(:title, "Signup Selection") %>
<div class="center jumbotron">
	<h1>Please select signup category</h1>
	<h2><%= link_to 'As admin', mngn_path, class: "btn btn-primary" %></h2>
	<h2><%= link_to 'As customer', cusn_path, class: "btn btn-primary" %></h2>
	<h2><%= link_to 'As service partner', srvn_path, class: "btn btn-primary" %></h2>
</div>