<h1>Test HTML Form</h1>
<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <div class="page">
      <form class="test_one">
        Name:<br>
        <input type="text" id="name">
        Phone Number:<br>
        <input type="text" id="phone">
        Email:<br>
        <input type="email" id="email">
        <input type="button" value="Next" onclick="test_first()">
      </form>
      <form class="test_two">
        Service Type:
        <select id="service" onchange="load_car_makes()">
        </select>
        <div class="make">
          Car Make:<br>
          <select id="make" onchange="load_car_models()">
          </select>
        </div>
        <div class="model">
          Car Model:<br>
          <select id="model">
          </select>
        </div>
        <div class="smallbtn">Region: <input type="button" value="Locate Me" onclick="findme()"></div><br>
        <select id="region" onchange="load_locate()">
        </select>
        <div class="location">
          Location<br>
          <select id="location">
          </select>
        </div>
        Booking Date:<br>
        <input type="text" id="date">
        <input type="button" value="Next" onclick="test_second()">
      </form>
      <form class="test_three">
        Payment method:<br>
        <div class="check">
          <input type="checkbox" id="transfer" onchange="checktrigger(1)">
          Online Transfer
          <input type="checkbox" id="cash" onchange="checktrigger(2)">
          Cash<br>
        </div>
        <input type="button" value="Submit" onclick="test_final()">
      </form>
    </div>
  </div>
</div>
