<h1>Test HTML Form</h1>
<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <div class="page">
      <form id="form_one" class="test_one">
        Name:<br>
        <input type="text" id="name" class="form-control">
        Phone Number:<br>
        <input type="text" id="phone" class="form-control" onchange="valid_phone()">
        Email:<br>
        <input type="email" id="email" class="form-control" onchange="valid_mail()">
        <input type="button" value="Next" onclick="test_first()" class="btn btn-primary">
      </form>
      <form id="form_two" class="test_two">
        Service Type:
        <select id="service" onchange="load_car_makes()" class="form-control">
        </select>
        <div class="make">
          Car Make:<br>
          <select id="make" onchange="load_car_models()" class="form-control">
          </select>
        </div>
        <div class="model">
          Car Model:<br>
          <select id="model" class="form-control">
          </select>
        </div>
        <div class="smallbtn">Region: <input type="button" value="Locate Me" onclick="findme()" class="btn btn-primary"></div><br>
        <select id="region" onchange="load_locate()" class="form-control">
        </select>
        <div class="location">
          Location<br>
          <select id="location" class="form-control">
          </select>
        </div>
        Booking Date:<br>
        <input type="text" id="date" class="form-control">
        <input type="button" value="Next" onclick="test_second()" class="btn btn-primary">
      </form>
      <form id="form_three" class="test_three">
        Payment method:<br>
        <div class="check">
          <input type="checkbox" id="transfer" onchange="checktrigger(1)">
          Online Transfer
          <input type="checkbox" id="cash" onchange="checktrigger(2)">
          Cash<br>
        </div><br>
        <div class="g-recaptcha" data-sitekey="6LcXOioUAAAAAHX-M1So3YLi0lSRKuf9gGv4qF5F">
        </div><br>
        <input type="button" value="Submit" onclick="test_final()" class="btn btn-primary">
      </form>
    </div>
  </div>
</div>
