<h1>Test HTML Form</h1>
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="page">
      <form class="test_one">
        Name:<br>
        <input type="text" id="name">
        Phone Number:<br>
        <input type="text" id="phone">
        Email:<br>
        <input type="email" id="email">
        <input type="button" value="Next" onclick="test_first()">
      </form>
      <form class="test_two">
        Service Type:
        <select id="service" onchange="load_car_makes()">
        </select>
        <div class="make">
          Car Make:<br>
          <select id="make" onchange="load_car_models($this().val())">
          </select>
        </div>
        <div class="model">
          Car Model:<br>
          <select id="model">
          </select>
        </div>
        Region:<br>
        <select id="region">
        </select>
        Location<br>
        <select id="location">
        </select>
        Booking Date:<br>
        <input type="text" id="date">
        <input type="button" value="Next" onclick="test_second()">
      </form>
      <form class="test_three">
        <input type="checkbox" id="transfer">
        Online Transfer<br>
        <input type="checkbox" id="cash">
        Cash<br>
        <input type="button" value="Submit" onclick="test_final()">
      </form>
    </div>
  </div>
</div>
