<% provide(:title, "Service Partner List") %>
<h1>Service Partners</h1>
<div class="col-md-12 col-md-offset-3">
	<table>
		<tr>
			<th>Name</th>
			<th>Email</th>	
			<th>Deployment</th>
		</tr>
		<% @user.each do |user| %>	
		<tr>
			<% if user.status == '2' %>
				<td><%= user.name %></td>
				<td><%= user.email %></td>
				<!-- Insert deloy check -->
				<td><%= link_to "Deploy", 's_deploy' %></td>
			<% end %>
		</tr>
		<% end %>
	</table>
</div>