<header class="navbar navbar-fixed-top navbar-inverse">
	<div class="container">
		<%= link_to "SERV", root_url, id: "logo" %>
		<nav>
			<ul class="nav navbar-nav navbar-right">
				<li><%= link_to "Booking", book_path %></li>
				<li><%= link_to "Management", mng_path %></li>
				<li><%= link_to "Login", signup_path %></li>
			</ul>
		</nav>
	</div>
</header>