<!DOCTYPE html>
<html>
  <head>
    <title>SERV Booking</title>
    <%= render 'layouts/include' %>
  </head>

  <body>
	<%= render 'layouts/header' %>
        <%= yield %>
	<%= render 'layouts/footer' %>
  </body>
</html>
